{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | Alto Nivel · Administración{% endblock %}

{% block extrahead %}
{{ block.super }}
<link rel="icon" type="image/png" href="{% static 'panel/img/favicon.png' %}">
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat:wght@700;800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'panel/admin.css' %}">
{% endblock %}

{% block branding %}
<div id="site-name">
  <a href="{% url 'admin:index' %}" class="an-marca">
    <img src="{% static 'panel/img/logo.png' %}" alt="">
    <span class="an-marca__texto">Alto Nivel<small>Administración</small></span>
  </a>
</div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block userlinks %}
<a class="an-volver" href="/">← Volver al panel</a> /
{{ block.super }}
{% endblock %}

{% block nav-global %}{% endblock %}
